---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Usuario">
    <main>
        <h1>Para seguir debe de ingresar los siguintes datos.</h1>
    </main>
</Layout>

<style>
    main {
        display: grid;
        align-content: center;
        padding: 20px 120px 0;
        height: 91vh;
    }
</style>