<footer>
  <p>@2022 Vocación Enigma</p>
</footer>

<style>
  footer {
    background-color: #042842;
    color: #d9eef4;
    display: flex;
    justify-content: center;
    padding: 25px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }
</style>
